body {
  background-color: #fcfcfc;
}
.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}
.active-link {
  color: #fa752c;
}
.normal-link {
  color: #bdbdbd;
}
.hide {
  display: none;
}
.timediv {
  background-color: #fcfcfc;
}
